@import './reset.css';
@import './varsAndMixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Montserrat:ital,wght@0,400;0,500;0,600;0,900;1,500&family=Roboto+Serif:ital,opsz,wght@1,8..144,500&display=swap');
//  font-family: 'Lato', sans-serif;
//  font-family: 'Montserrat', sans-serif;
//  font-family: 'Roboto Serif', serif;

// pressets
.technology__containerTechnology, .projects__containerData, .biography__subContainer {
  background-color: $grey;
  border-radius: 10px;
  color: $white;
}

.ativo {
  animation-name: animaLeft;
  animation-duration: 1s;
}

@keyframes animaLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.subtitle {
  display: inline-flex;
  border-bottom: 5px solid $borderSubtitle;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  padding-bottom: 0.25rem;

  @include media(mobile) {
    font-size: 2rem;
  }
}

body {
  background: $black;
}

.upEffect {

  @include media(mobile) {
    background-image: url('../assets/ti.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
  } 
}

header {
  background-color: $black;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 6rem;
  max-width: 78.25rem;

  @include media(average) {
    padding-bottom: 5rem  ;
  }

  @include media(mobile) {
    margin-top: 100vh;
  }

  .header__containerIntroduction {

    h1 {
      font-size: 96px;
      font-family: $FPrincipal;
      font-weight: 800;
      margin-top: 4rem;

      @include media(tablet) {
        font-size: 84px;
      }

      @include media(average) {
        font-size: 68px;
      }

      @include media(mobile) {
        font-size: 48px;
      }
    }

    h2 {
      color: $purple;
      font-family: $FSerif;
      font-size: 52px;
      margin-top: 4.375rem;

      @include media(tablet) {
        font-size: 46px;
      }

      @include media(average) {
        font-size: 34px;
      }

      @include media(mobile) {
        font-size: 24px;
      }
    }

    p {
      color: $spanInHeader;
      font-family: 'Lato', sans-serif;
      font-size: 30px;
      margin-top: 6.25rem;

      @include media(tablet) {
        font-size: 26px;
      }

      @include media(mobile) {
        display: none;
      }
    }
  }

  .header__photoDavi {

    img {
      max-height: 441.05px;
      max-width: 370px;

      @include media(average) {
        display: none;
      }
    }
  }
}

main {
  background-color: $black;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  max-width: 1100px;

  .biography__container {

    @include media(tablet) {
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      justify-content: center;
    }
    
    @include media(mobile) {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      width: 100%;
    }
  }

  .biography__subContainer {
    box-shadow: inset 0 0 20px #0e0e0f;
    padding: 3rem 2rem;
    margin-bottom: 7.5rem;
    width: 100%;
    margin: 0;

    @include media(xlarge) {
      padding: 1rem 1rem;
    }

    @include media(mobile) {
      margin-bottom: 40px;
      width: 80%;
    }

    p {
      font-family: $FPrincipal;
      font-weight: 500;
      font-size: 1.5rem;
      padding-bottom: .5rem;

      @include media(tablet) {
        word-break: keep-all;
        font-size: 1.3rem;
      }
    }

    strong {
      color: $purple;
      font-family: $FSerif;
      font-size: 1.5rem;
      font-weight: 500;
      
      &::before {
        content: '#';
      }

      @include media(tablet) {
        font-size: 1.3rem;
      }
      @include media(average) {
        font-size: 1rem;
      }
    }
  }

  // Tecnology

  .technology__container {
    margin-bottom: 7.5rem;

    h3 {
      display: inline-flex;
    }

    @include media(xlarge) {
      text-align: center;
    }

    @include media(mobile) {
      margin-bottom: 3rem;
      width: 100%;
    }
  }

  .tecnology__subContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-flow: row wrap;
    justify-content: space-between;
    place-items: center;
    text-align: center;

    @include media(average) {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;
      justify-content: center;
      text-align: center;
    }
    
    div {
      align-items: center;
      box-shadow: inset 0 0 20px #0e0e0f;
      display: flex;
      flex-flow: row nowrap;
      height: 13.75rem;
      justify-content: space-evenly;
      margin-bottom: 2.5rem;
      max-width: 33rem;
      width: 100%;


      @include media(xlarge) {
        width: 90%;
      }

      @include media(tablet) {
        flex-flow: column nowrap;
        width: 80%;
      }

      @include media(average) {
        font-size: 34px;
      }

      @include media(mobile) {
        flex-flow: column nowrap;
      }

      img {
        max-width: 300px;


        @include media(tablet) {
          max-width: 200px;
          width: 40%;
        }
        @include media(average) {
          padding-bottom: .5rem;
          width: 120px;
        }
      }

      p {
        font-family: $FLato;
        font-size: 3.5rem;
        font-weight: 400;
        width: 50%;

        text-shadow: 0px 0px 10px  #0e0e0f;

        @include media(tablet) {
          width: auto;
          font-size: 42px;
        }
  
        @include media(average) {
          font-size: 34px;
        }
  
        @include media(mobile) {
          font-size: 26px;
        }
      }

      @include media(xlarge) {
        &:nth-child(odd) {
          margin-right: 0;
        }
      }
    }
  }
}

// Projects

.projects__container {

 
  margin-bottom: 7.5rem;

  @include media(tablet) {
    text-align: center;
    padding: 0 1rem;
  }

  @include media(mobile) {
    width: 100%;
  }
}

.projects__containerData {
  box-shadow: inset 0 0 20px #0e0e0f;
  display: flex;
  margin-bottom: 2.5rem;
  padding: 3rem 2rem;

  @include media(tablet) {
    padding: 1rem 1rem;
  }

  @include media(average) {
    flex-wrap: wrap;
  }

  @include media(mobile) {
    padding: 1rem 1rem;
    flex-flow: column nowrap;
    margin: 0 auto 2.5rem auto;
    width: 90%;
  }

  div {
    
    @include media(average) {
      width: 100%;
    }

    .projects__photoProject {
      margin: auto;
      min-width: 100px;
  
      @include media(average) {
        width: 90%;
      }

      @include media(mobile) {
        width: 100%;
      }
    }
  }
  

  img {
    border-radius: 13px;

    @include media(tablet) {
      width: 100%;
    }
  }

  .projects__containerInfo {
    align-items: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-bottom: 1.2rem;
    max-height: 300px;
    margin-left: 3rem;

    @include media(average) {
      gap: 30px;
    }

    @include media(mobile) {
      gap: 30px;
      margin-left: 2rem;
      padding-bottom: .6rem;
    }

    .projects__containerTitle_Gears {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      @include media(average) {
        align-items: flex-start;
        flex-flow: column nowrap;
      }

      @include media(mobile) {
        padding-top: 5px;
      }

      h4 {
        white-space: nowrap;
        @include media(tablet) {
          font-size: 2.4rem;
        }
        
        @include media(mobile) {
          font-size: 2rem;
        }
      }
    }

    .projects__projectsIcons {
      display: flex;
      align-items: center;

      @include media(tablet) {
        display: none;
      }
    }
  }

  section {
    h4 {
      font-family: $FPrincipal;
      font-weight: 400;
      font-size: 2.65rem;
      padding-left: 1rem;
      position: relative;


      &::before {
        content: '';
        background-image: url('../assets/icons/Polygon.svg');
        height: 30px;
        left: -30px;
        position: absolute;
        top: 11px;
        width: 30px;
        z-index: 20;

        @include media(mobile) {
          top: 5px;
        }
      }
    }

    .projects__projectsIconsMedia {
      display: none;

      @include media(tablet) {
        display: flex;

        img {
          border-radius: 0;
          margin-left: 1rem;
          width: 35px;
        }
      }
    }

    .projects__projectsIcons {
      img {
        border-radius: 0;
        margin-left: 1rem;
        width: 35px;
      }
    }

    .projects__ideia {
      font-family: $FLato;
      font-size: 1.5rem;
      font-weight: 500;
      padding-left: 1rem;
      position: relative;

      @include media(tablet) {
        font-size: 1.1rem;
        text-align: start;
      }

      @include media(mobile) {
        word-break: keep-all;
      }

      &::after {
        content: '';
        background-image: url('../assets/icons/Lampada.svg');
        height: 30px;
        left: -30px;
        position: absolute;
        top: -2px;
        width: 30px;
        z-index: 20;
      }
    }

    .projects__gitLInk {
      font-family: $FLato;
      font-size: 1.1rem;
      font-weight: 300;
      padding-left: 1rem;
      position: relative;

      &::after {
        content: '';
        background-image: url('../assets/icons/GitHUb.svg');
        height: 30px;
        left: -30px;
        position: absolute;
        top: -4px;
        width: 30px;
        z-index: 20;
      }

      @include media(tablet) {
        text-align: start;
      }
    }
  }
}

.position {
  position: relative;

  ::after {
    content: '';
    background-image: url('../assets/icons/Engrenagem.svg');
    height: 35px;
    left: -30px;
    position: absolute;
    top: 1px;
    width: 35px;
    z-index: 20;
  } 

  
}

footer {
  display: none;
  background-color: $grey;
  height: 12rem;
  width: 100%;
}