@import './reset.css';
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Montserrat:ital,wght@0,400;0,500;0,600;0,900;1,500&family=Roboto+Serif:ital,opsz,wght@1,8..144,500&display=swap");
.technology__containerTechnology, .projects__containerData, .biography__subContainer {
  background-color: #27272A;
  border-radius: 10px;
  color: #fff;
}

.subtitle {
  display: inline-flex;
  border-bottom: 5px solid #A1A1AA;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  padding-bottom: 0.25rem;
}
@media only screen and (max-width: 490px) {
  .subtitle {
    font-size: 2rem;
  }
}

body {
  background: #0C0E12;
}

@media only screen and (max-width: 490px) {
  .upEffect {
    background-image: url("../assets/ti.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
  }
}

header {
  background-color: #0C0E12;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 6rem;
  max-width: 78.25rem;
}
@media only screen and (max-width: 980px) {
  header {
    padding-left: 1rem;
  }
}
@media only screen and (max-width: 640px) {
  header {
    padding-bottom: 5rem;
  }
}
header .header__containerIntroduction {
  margin-bottom: 5.5rem;
}
@media only screen and (max-width: 490px) {
  header .header__containerIntroduction {
    width: 80%;
  }
}
header .header__containerIntroduction h1 {
  font-size: 96px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin-top: 4rem;
}
@media only screen and (max-width: 980px) {
  header .header__containerIntroduction h1 {
    font-size: 84px;
  }
}
@media only screen and (max-width: 640px) {
  header .header__containerIntroduction h1 {
    font-size: 68px;
  }
}
@media only screen and (max-width: 490px) {
  header .header__containerIntroduction h1 {
    font-size: 48px;
  }
}
header .header__containerIntroduction h2 {
  color: #9611FF;
  font-family: "Roboto Serif", serif;
  font-size: 52px;
  margin-top: 4.375rem;
}
@media only screen and (max-width: 980px) {
  header .header__containerIntroduction h2 {
    font-size: 46px;
  }
}
@media only screen and (max-width: 640px) {
  header .header__containerIntroduction h2 {
    font-size: 34px;
  }
}
@media only screen and (max-width: 490px) {
  header .header__containerIntroduction h2 {
    font-size: 24px;
  }
}
header .header__containerIntroduction p {
  color: #F4F4F5;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  margin-top: 6.25rem;
}
@media only screen and (max-width: 980px) {
  header .header__containerIntroduction p {
    font-size: 26px;
  }
}
@media only screen and (max-width: 490px) {
  header .header__containerIntroduction p {
    display: none;
  }
}
header .header__photoDavi img {
  max-height: 441.05px;
  max-width: 370px;
}
@media only screen and (max-width: 980px) {
  header .header__photoDavi img {
    display: none;
  }
}

main {
  background-color: #0C0E12;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  max-width: 1100px;
}
main .biography__container {
  margin-bottom: 5.5rem;
}
@media only screen and (max-width: 980px) {
  main .biography__container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto 5.5rem auto;
    max-width: 80%;
  }
}
@media only screen and (max-width: 490px) {
  main .biography__container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
  }
}
main .biography__subContainer {
  box-shadow: inset 0 0 20px #0e0e0f;
  padding: 3rem 2rem;
  margin-bottom: 5.5rem;
  width: 100%;
  margin: 0;
}
@media only screen and (max-width: 1100px) {
  main .biography__subContainer {
    padding: 1rem 1rem;
  }
}
main .biography__subContainer p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
@media only screen and (max-width: 980px) {
  main .biography__subContainer p {
    word-break: keep-all;
    font-size: 1.3rem;
  }
}
main .biography__subContainer strong {
  color: #9611FF;
  font-family: "Roboto Serif", serif;
  font-size: 1.5rem;
  font-weight: 500;
}
main .biography__subContainer strong::before {
  content: "#";
}
@media only screen and (max-width: 980px) {
  main .biography__subContainer strong {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 640px) {
  main .biography__subContainer strong {
    font-size: 1rem;
  }
}
main .technology__container {
  margin-bottom: 3rem;
}
main .technology__container h3 {
  display: inline-flex;
}
@media only screen and (max-width: 980px) {
  main .technology__container {
    text-align: center;
  }
}
@media only screen and (max-width: 490px) {
  main .technology__container {
    margin-bottom: 3rem;
    width: 100%;
  }
}
main .tecnology__subContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  flex-flow: row wrap;
  place-items: left;
  text-align: center;
}
@media only screen and (max-width: 1100px) {
  main .tecnology__subContainer {
    place-items: center;
  }
}
@media only screen and (max-width: 640px) {
  main .tecnology__subContainer {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 490px) {
  main .tecnology__subContainer {
    gap: 0;
  }
}
main .tecnology__subContainer .technology__containerTechnology {
  align-items: center;
  box-shadow: inset 0 0 20px #0e0e0f;
  display: flex;
  flex-flow: row nowrap;
  height: 13.75rem;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
  max-width: 33rem;
  position: relative;
  width: 100%;
}
main .tecnology__subContainer .technology__containerTechnology:nth-child(2)::before {
  content: "";
  background-image: url("../assets/placement/medalha4red.png");
  position: absolute;
  height: 51px;
  left: -20px;
  top: -20px;
  width: 51px;
}
main .tecnology__subContainer .technology__containerTechnology:nth-child(3)::before {
  content: "";
  background-image: url("../assets/placement/medalha4red.png");
  position: absolute;
  height: 51px;
  left: -20px;
  top: -20px;
  width: 51px;
}
main .tecnology__subContainer .technology__containerTechnology:nth-child(4)::before {
  content: "";
  background-image: url("../assets/placement/medalha4red.png");
  position: absolute;
  height: 51px;
  left: -20px;
  top: -20px;
  width: 51px;
}
main .tecnology__subContainer .technology__containerTechnology:nth-child(5)::before {
  content: "";
  background-image: url("../assets/placement/medalha3red.png");
  position: absolute;
  height: 51px;
  left: -20px;
  top: -20px;
  width: 51px;
}
main .tecnology__subContainer .technology__containerTechnology:nth-child(6)::before {
  content: "";
  background-image: url("../assets/placement/medalha4red.png");
  position: absolute;
  height: 51px;
  left: -20px;
  top: -20px;
  width: 51px;
}
main .tecnology__subContainer .technology__containerTechnology:nth-child(7)::before {
  content: "";
  background-image: url("../assets/placement/medalha3red.png");
  position: absolute;
  height: 51px;
  left: -20px;
  top: -20px;
  width: 51px;
}
main .tecnology__subContainer .technology__containerTechnology:nth-child(8)::before {
  content: "";
  background-image: url("../assets/placement/medalha3red.png");
  position: absolute;
  height: 51px;
  left: -20px;
  top: -20px;
  width: 51px;
}
@media only screen and (max-width: 980px) {
  main .tecnology__subContainer .technology__containerTechnology {
    flex-flow: column nowrap;
    width: 90%;
  }
}
@media only screen and (max-width: 640px) {
  main .tecnology__subContainer .technology__containerTechnology {
    width: 90%;
  }
}
@media only screen and (max-width: 640px) {
  main .tecnology__subContainer .technology__containerTechnology {
    font-size: 34px;
  }
}
@media only screen and (max-width: 490px) {
  main .tecnology__subContainer .technology__containerTechnology {
    width: 80%;
    flex-flow: column nowrap;
  }
}
main .tecnology__subContainer .technology__containerTechnology img {
  max-width: 300px;
}
@media only screen and (max-width: 980px) {
  main .tecnology__subContainer .technology__containerTechnology img {
    max-width: 200px;
    width: 40%;
  }
}
@media only screen and (max-width: 640px) {
  main .tecnology__subContainer .technology__containerTechnology img {
    padding-bottom: 0.5rem;
    width: 120px;
  }
}
main .tecnology__subContainer .technology__containerTechnology p {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  width: 50%;
  text-shadow: 0px 0px 10px #0e0e0f;
}
@media only screen and (max-width: 980px) {
  main .tecnology__subContainer .technology__containerTechnology p {
    width: auto;
    font-size: 42px;
  }
}
@media only screen and (max-width: 640px) {
  main .tecnology__subContainer .technology__containerTechnology p {
    font-size: 34px;
  }
}
@media only screen and (max-width: 490px) {
  main .tecnology__subContainer .technology__containerTechnology p {
    font-size: 26px;
  }
}
@media only screen and (max-width: 1100px) {
  main .tecnology__subContainer .technology__containerTechnology:nth-child(odd) {
    margin-right: 0;
  }
}

.technology__containerRating {
  background-color: #27272A;
  box-shadow: inset 0 0 20px #0e0e0f;
  border-radius: 10px;
  align-items: center;
  box-shadow: inset 0 0 20px #0e0e0f;
  display: flex;
  flex-flow: column nowrap;
  height: 13.75rem;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
  max-width: 33rem;
  width: 100%;
  padding: 0 0.5rem;
  position: relative;
}
@media only screen and (max-width: 980px) {
  .technology__containerRating {
    width: 90%;
  }
}
@media only screen and (max-width: 490px) {
  .technology__containerRating {
    width: 80%;
  }
}
.technology__containerRating h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}
@media only screen and (max-width: 980px) {
  .technology__containerRating h4 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 490px) {
  .technology__containerRating h4 {
    font-size: 1.6rem;
  }
}
.technology__containerRating ol {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}
.technology__containerRating ol li {
  width: 100%;
}
@media only screen and (max-width: 1100px) {
  .technology__containerRating ol img {
    width: 100%;
  }
}

.placement {
  background-image: url("../assets/placement/medalha1.png");
  position: absolute;
  top: 0;
  left: 0;
}

.projects__container {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 980px) {
  .projects__container {
    text-align: center;
    padding: 0 1rem;
  }
}
@media only screen and (max-width: 490px) {
  .projects__container {
    width: 100%;
  }
}

.projects__containerData {
  box-shadow: inset 0 0 20px #0e0e0f;
  display: flex;
  margin-bottom: 2.5rem;
  padding: 3rem 2rem;
}
@media only screen and (max-width: 980px) {
  .projects__containerData {
    padding: 1rem 1rem;
  }
}
@media only screen and (max-width: 640px) {
  .projects__containerData {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 490px) {
  .projects__containerData {
    padding: 1rem 1rem;
    flex-flow: column nowrap;
    margin: 0 auto 2.5rem auto;
    width: 90%;
  }
}
@media only screen and (max-width: 640px) {
  .projects__containerData div {
    width: 100%;
  }
}
.projects__containerData div .projects__photoProject {
  margin: auto;
  min-width: 100px;
}
@media only screen and (max-width: 640px) {
  .projects__containerData div .projects__photoProject {
    width: 90%;
  }
}
@media only screen and (max-width: 490px) {
  .projects__containerData div .projects__photoProject {
    width: 100%;
  }
}
.projects__containerData img {
  border-radius: 13px;
}
@media only screen and (max-width: 980px) {
  .projects__containerData img {
    width: 100%;
  }
}
.projects__containerData .projects__containerInfo {
  align-items: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-bottom: 1.2rem;
  max-height: 300px;
  margin-left: 3rem;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .projects__containerData .projects__containerInfo {
    gap: 30px;
  }
}
@media only screen and (max-width: 490px) {
  .projects__containerData .projects__containerInfo {
    gap: 30px;
    margin-left: 2rem;
    padding-bottom: 0.6rem;
  }
}
.projects__containerData .projects__containerInfo .projects__containerTitle_Gears {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media only screen and (max-width: 640px) {
  .projects__containerData .projects__containerInfo .projects__containerTitle_Gears {
    align-items: flex-start;
    flex-flow: column nowrap;
  }
}
@media only screen and (max-width: 490px) {
  .projects__containerData .projects__containerInfo .projects__containerTitle_Gears {
    padding-top: 5px;
  }
}
.projects__containerData .projects__containerInfo .projects__containerTitle_Gears h4 {
  white-space: nowrap;
}
@media only screen and (max-width: 980px) {
  .projects__containerData .projects__containerInfo .projects__containerTitle_Gears h4 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 490px) {
  .projects__containerData .projects__containerInfo .projects__containerTitle_Gears h4 {
    font-size: 1.4rem;
    padding-top: 6px;
  }
}
.projects__containerData .projects__containerInfo .projects__projectsIcons {
  display: flex;
  align-items: center;
  width: 40%;
}
@media only screen and (max-width: 980px) {
  .projects__containerData .projects__containerInfo .projects__projectsIcons {
    display: none;
  }
}
.projects__containerData section h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2.65rem;
  padding-left: 1rem;
  position: relative;
}
.projects__containerData section h4::before {
  content: "";
  background-image: url("../assets/icons/Polygon.svg");
  height: 30px;
  left: -30px;
  position: absolute;
  top: 11px;
  width: 30px;
  z-index: 20;
}
@media only screen and (max-width: 490px) {
  .projects__containerData section h4::before {
    top: 5px;
  }
}
.projects__containerData section .projects__projectsIconsMedia {
  display: none;
}
@media only screen and (max-width: 980px) {
  .projects__containerData section .projects__projectsIconsMedia {
    display: flex;
  }
  .projects__containerData section .projects__projectsIconsMedia img {
    border-radius: 0;
    margin-left: 1rem;
    width: 35px;
  }
}
@media only screen and (max-width: 490px) {
  .projects__containerData section .projects__projectsIconsMedia {
    flex-flow: row wrap;
  }
}
.projects__containerData section .projects__projectsIcons img {
  border-radius: 0;
  margin-left: 1rem;
  width: 35px;
}
.projects__containerData section .projects__ideia {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 1rem;
  position: relative;
}
@media only screen and (max-width: 980px) {
  .projects__containerData section .projects__ideia {
    font-size: 1.1rem;
    text-align: start;
  }
}
@media only screen and (max-width: 490px) {
  .projects__containerData section .projects__ideia {
    word-break: keep-all;
  }
}
.projects__containerData section .projects__ideia::after {
  content: "";
  background-image: url("../assets/icons/Lampada.svg");
  height: 30px;
  left: -30px;
  position: absolute;
  top: -2px;
  width: 30px;
  z-index: 20;
}
.projects__containerData section .projects__gitLInk {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  padding-left: 1rem;
  position: relative;
}
.projects__containerData section .projects__gitLInk::after {
  content: "";
  background-image: url("../assets/icons/GitHUb.svg");
  height: 30px;
  left: -30px;
  position: absolute;
  top: -4px;
  width: 30px;
  z-index: 20;
}
@media only screen and (max-width: 980px) {
  .projects__containerData section .projects__gitLInk {
    text-align: start;
  }
}
@media only screen and (max-width: 490px) {
  .projects__containerData section .projects__gitLInk .projects__subtitle {
    font-size: 1rem;
  }
}

.position {
  position: relative;
}
.position ::after {
  content: "";
  background-image: url("../assets/icons/Engrenagem.svg");
  height: 35px;
  left: -30px;
  position: absolute;
  top: 1px;
  width: 35px;
  z-index: 20;
}

footer {
  display: flex;
  align-items: flex-start;
  background-color: #27272A;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 12rem;
  width: 100%;
}
footer address {
  margin: auto;
  width: 80%;
  font-style: normal;
}
footer address div {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  margin-bottom: 1rem;
}
footer address div img {
  width: 30px;
}
footer address div a, footer address div p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding-left: 0.3rem;
}

.js-scroll {
  opacity: 0;
}

.ativo {
  opacity: 1;
  animation-name: animaLeft;
  animation-duration: 1s;
}

@keyframes animaLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*# sourceMappingURL=styles.css.map */
