// background
$black: #0C0E12;
$grey: #27272A;
$white: #fff;
$purple: #9611FF;

// text colors
$subtitle: #fff;
$borderSubtitle:#A1A1AA;
$spanInHeader: #F4F4F5;
$desctriptionColor: #fff;

// fonts

$FPrincipal: 'Montserrat', sans-serif;
$FSerif: 'Roboto Serif', serif;
$FLato: 'Lato', sans-serif;

